{% extends './layout.html' %}
{% block title %}{{ article.title }} | Siedrix.com{% endblock %}

{% block head %}
{% if article.image %}
<style type="text/css">
header{
	background-image: url('{{ static }}/imgs/{{article.image}}');
	{% if article.imagePositionY %}
	background-position-y: {{article.imagePositionY}};
	{% endif %}
	{% if article.imageSize %}
	background-size: {{article.imageSize}};
	{% endif %}
}
</style>
{% endif %}
{% if article.image %}
<meta property="og:image" content="http://siedrix.com/imgs/{{article.image}}" />
{% else %}
<meta property="og:image" content="http://siedrix.com/imgs/8seTuSW.jpg" />
{% endif %}
{% endblock %}

{% block content %}
	<div class="post-single">
		<h1>{{ article.title }}</h1>
		<div class="post-date">{{ article.prettyDate }}</div>
		<div>{% autoescape false %}
			{{ article.content }}
		{% endautoescape %}</div>

		<div id="related-links">
			<h4>Links relacionados</h4>
			{% if relatedLinks.length %}
			{% for relatedLink in relatedLinks %}
				<div class="related-link">
					<p class="related-header">
						<a href="{{relatedLink.uri}}">
							{{relatedLink.title}}
						</a>
					</p>
					<p class="related-description">
						{{relatedLink.description}}
					</p>
					<p class="related-sharer">
						Compartido por 
						<a href="{{relatedLink.sharer.profile}}" target="_blank">
							{{relatedLink.sharer.name}}
						</a>
					</p>
				</div>
			{% endfor %}
			<div>Manda links relacionados a <a href="http://twitter.com/home?status=Hey @siedrix este <link> deberia de estar en {{article.title}}" target="_blank">@Siedrix</a></div>
			{% else %}
			<div>No hay links relacionados. Manda el primero a <a href="http://twitter.com/home?status=Hey @siedrix este <link> deberia de estar en {{article.title}}" target="_blank">@Siedrix</a></div>
			{% endif %}
		</div>

	</div>
{% endblock %}

{% block footer %}
	<div class="footer">
		<div class="footer-wrapper">
			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<div class="row">
						<div class="col-xs-5">
							<img class="avatar height-same-as-width" src="/imgs/reveillark.jpg">
						</div>
						<div class="col-xs-7">
							<h4>Soy Siedrix</h4>
							<p>Soy un full stack developer que ha trabajado en <a href="https://twitter.com/tutumcloud">@tutumcloud</a>, <a href="https://twitter.com/mejorandola">@mejorandola</a> y <a href="https://twitter.com/breeziapp">@breezi</a>.</p>
							<p>Soy es organizador del SHDH Mexico City y <a href="https://twitter.com/Chela_js">@Chela_js</a>.</p>
						</div>						
					</div>
				</div>
				<div class="col-xs-12 col-sm-offset-1 col-sm-12" style="display:none;">
					<h4>Otros articulos</h4>
				</div>				
			</div>
		</div>
	</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
var heightSameAsWidth = function () {
	$('.height-same-as-width').each(function () {
		var $this = $(this);

		$this.height( $this.width() );
	});
}
$(document).ready(function () {
	$('.content a').each(function(i,item){
		var $item = $(item);
		$item.attr('target', '_blank');
	});

	heightSameAsWidth();
});

$(window).on('resize', heightSameAsWidth);
</script>
{% endblock %}